$font-family-primary: Montserrat, sans-serif;
$font-family-secondary: Futura;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$color-primary: #29d3d1;
$color-accent: #eb645a;
